<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Winner</title>
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br><center>

This option to view the winner is available only for Election Commission:
    <br>
    <br>
    This page is meant only for the Supreme members of Election Commission
    Kindly wait for the result day for voting results of your Constituency
    <br>
    <br>
    <br>
    <a href="\" vlink="blue" alink="blue">Click here to go to home page</a>

</center>
</body>
</html>